<a href="https://colab.research.google.com/github/oliveiramateuss/python-for-ml/blob/main/C9_Intro_to_PythonAssignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuples**
A tuple is a sequence of immutable Python objects.<br>
Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed.<br>
Tuples use parentheses, whereas lists use square brackets.

You can't add elements to a tuple. <br>
Tuples have no append or extend method.
You can't remove elements from a tuple. Tuples have no remove or pop method.<br>
You can find elements in a tuple, since this doesnâ€™t change the tuple.<br>
You can also use the in operator to check if an element exists in the tuple.

# **Create a Tuple**

In [ ]:
#Create a Tuple
tuple1 = ("a","b","c")
print("tuple1 = " ,tuple1)

**Create an empty tuple**

In [ ]:
#Create an empty Tuple
tuple1 = ()
print("tuple1 = " ,tuple1)

# **Assignment #1**
Create a Tuple called tp1 with the following elements: 
<br>CA, IA, IL, NY, VA, NC, SC, ND, SD, NM

In [ ]:
#Assignment #1
tp1 = ('CA', 'IA', 'IL', 'NY', 'VA', 'NC', 'SC', 'ND', 'SD', 'NM')
print(tp1)

Once a tuple is created, it cannot be changed

In [ ]:
tup_numb = (3.14, 42)
tup_states = ('Iowa', 'Illinoise')
tup_states = ('Iowa', 'Illinois')
print(tup_states)

In [ ]:
# New tuples can be created from parts of tuples, or combining tuples
tup3 = tup_numb + tup_states
print (tup3)

In [ ]:
#Tuples have their own type
type(tup3)

**Creating a tuple with one element**<br>
When creating a tuple with one element, you must still include the comma.

In [ ]:
#This will NOT create a tuple 
tup1 = ("d")
print("This is not a tuple: ",type(tup1))

#This will create a tuple 
tup2 = ("d",)
print("This is a tuple: ",type(tup2))

# **Assignment #2**
Create a tuple with 1000 elements. <br>
All 1000 elements should be the same. <br>
<br>
Hint: https://www.tutorialspoint.com/python/python_tuples.htm

In [ ]:
#Assignment #2
tuple1 = ('Python',) *1000
print("tuple1 = " ,tuple1)
print("tuple1 size = " ,len(tuple1))

In [ ]:
el_list = [11]*1000
t=tuple(el_list)
print(type(t))

In [ ]:
tup1000 = tuple(1 for i in range(0,1000))
print(tup1000)
print(type(tup1000))

In [ ]:

tp1 = ("John Deere",)
print(tp1)

In [ ]:
tp1=("2",)*1000

print(tp1)
print(len(tp1))
print(type(tp1))

**Checking for membership in the tuple**

In [ ]:
new_tup = (1,2,3,4,5,6,7,8,9)
#Check for membership in the tuple
print(5 in new_tup)

# **Assignment #3**
1. Create a tuple with 1000 elements.  All the elements have the value "John Deere", execpt  the 500th element, it have a value "Blue River Tech". <br>
2. Then check that the value "Blue River" is actually in the tuple.

In [ ]:
#Assignment #3
tl3 = ['John Deere'] * 1000
tl3[499] = 'Blue River'

tp3 = tuple(tl3)
print('Blue River' in tp3)
print(tp3)
print(type(tp3))

In [ ]:
tuple1 = ('John Deere',)
tuple2 = ('Blue River Tech',)

tuple3 = (tuple1* 499) + tuple2 + (tuple1 * 500 )

print("tuple3 = " ,tuple3)
print("tuple3 500th = " ,tuple3[499])
print(type(tuple2))
print("tuple3 size = " ,len(tuple3))

In [ ]:
tup3=("John Deere",)*499 + ("Blue River Tech",) + ("John Deere",)*500
print(tup3)
print("Blue River Tech" in tup3)

In [ ]:
tup_JD = tuple("John Deere" if i != 500 else "Blue River Tech" for i in range(1,1001))
print("Blue River Tech" in tup_JD)

In [ ]:
abcd=[]
for i in range(999):
  if i==499:
    abcd.append('Blue river')
  else:
    abcd.append('John Deere')
abcd=tuple(abcd)
print("Blue river" in abcd)

In [ ]:
i=0
lista=[]
while i<999:
  lista.append("JohnDeere")
  if i==500:
    lista.append("BlueRiver")
  i=i+1

tup1=tuple(lista)
print(tup1)
print(len(tup1))
print("BlueRiver" in tup1)

# **Assignment #4**
1. Create a function that accepts two tuples.
2. Add the two tuples together.
3. Return the new tuple

In [ ]:
def Add2Tuples (tp1, tp2):
  localtp = tp1 + tp2
  return localtp

In [ ]:
#Assignment #4

tuple1 = ('John Deere',)
tuple2 = ('Blue River Tech',)

tuple3 = Add2Tuples(tuple1, tuple2)
print("tuple3 = " ,tuple3)
print(type(tuple3))

tuple4 = Add2Tuples(tuple2, tuple2)
print("tuple4 = " ,tuple4)
print(type(tuple4))

In [ ]:
def func1() :
  t1=input("write 1st tuple ")
  tp1=tuple(t1,)
  t2=input("write 2nd tuple ")
  tp2=tuple(t2,)
  t3=tp1+tp2
  return (t3)

func1()

In [ ]:
def add_tuples():
  t1=(input(),)
  t2=(input(),)
  new_tup=t1+t2
  return new_tup
  
add_tuples()

In [ ]:
def func1():
  t1=input('write 1st input')
  t2=input('write 2nd input')
  tp1=(t1,)
  tp2=(t2,)
  t3 =tp1+tp2
  return t3
t=func1()
print(type(t))

# **Assignment #5**
1. Create a function accepts a tuple and an integer. 
2. Within the function, check that the integer is is less than or equal to the length of the tuple. 
3. If it is, change the value at that integer position to "CHANGED". 
4. If the integer is greater than the length of the tuple, print "Error: exceeds length"
5. Return the tuple (changed or unchanged)

In [ ]:
#Assignment #5