<a href="https://colab.research.google.com/github/oliveiramateuss/python-for-ml/blob/main/HackerRank1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Example 1**

In [ ]:
#@title 
#!/bin/python3
import math
import os
import random
import re
import sys
from random import randrange

In [ ]:
#@title
n = randrange(10)

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts an integer n as parameter.
# The function adds 20 to n and prints the sum
#returns the sum

def test(n):
  # Write your code here

In [ ]:
#@title 
n = randrange(100)
ans = test(n)
correct_ans = n + 20
print("returned:", ans)
print("expected:",correct_ans)
if ans == correct_ans:
  print("you got it right")
else:
  print("try again")

**Example 2**

In [ ]:
#@title
n = randrange(10)
m = randrange(200)

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts two INTEGERs n and m as parameters.
# The function adds the two and returns the value to the main program

def test(n,m):
  # Write your code here

In [ ]:
#@title 
n = randrange(10)
m = randrange(200)
output = test(n,m)
print("returned:", output)
print("expected:", n+m)
if output == n + m:
  print("CORRECT")
else:
  print("TRY AGAIN")

**Example 3**

In [ ]:
#@title
n = [2,3,4,5,6,10]

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts LIST n as parameter.
# The function adds 5 to each value in the list
#Then returns the list

def test(n):

In [ ]:
#@title 
n = [2,3,4,30,45,56,66,90,10201]
testList = [2,3,4,30,45,56,66,90,10201]
checkList=[]
returnList=test(n)
for i in range(len(testList)):
  checkList.append(testList[i]+5)
print("returned:",returnList)
print("expected:",checkList)
if returnList == checkList:
  print("CORRECT")
else:
  print("Try Again")

**Example 4**

In [ ]:
#@title 
n = ["","","","","",""]

n[0] = "Man"
n[1] = "man"
n[2] = "man"
n[3] = "woMan"
n[4] = "WoMan"
n[5] = "WOMAn"

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts a LIST n as parameter.
# Count the number of times the word woman appears in the list 
#**Note: the word woman can be in uppercase, or lowercase, or a mix of cases 
#Then return the count 

def test(n):

In [ ]:
#@title 
countW = 0
n = ["","","","","","","","",""]
n[0] = "woman"
n[1] = "man"
n[2] = "man"
n[3] = "woMan"
n[4] = "WoMan"
n[5] = "WOMAn"
n[6] = "WOMAN"
n[7] = "WoMann"
n[8] = "WoMAN"

count_woman = test(n)

for i in range(len(n)):
  if n[i].lower() == "woman":
    countW = countW + 1
print("returned value: ",count_woman)
print("expected value: ",countW)
if countW == count_woman:
  print("CORRECT")
else:
  print("TRY AGAIN")

**Example 5**

In [ ]:
#@title 
x = 3
y = 2

n = [[1 for j in range(y)] for i in range(x)]
n[0][0] = "Joe"
n[1][0] = "Sam"
n[2][0] = "Jim"
n[0][1] = 3.2
n[1][1] = 2.1
n[2][1] = 4.6
print(n)

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts a 2 dimensional LIST n as parameter.
# The list has the format string, float for each row
# Return the average of the floats

def test(n):
# Write your code here

In [ ]:
#@title 
print("return value:", test(n))
print("expected value:", 3.3000000000000003)
if test(n) == 3.3000000000000003:
  print("CORRECT")
else:
  print("TRY AGAIN")

**Example 6**

In [ ]:
#@title 
x = 6
y = 2
n = [[1 for j in range(y)] for i in range(x)]
n[0][0] = "Transmission"
n[1][0] = "Trans"
n[2][0] = "tx"
n[3][0] = "Engine"
n[4][0] = "Eng"
n[5][0] = "engien"

n[0][1] = "leaking"
n[1][1] = "missing"
n[2][1] = "leaking fluid"
n[3][1] = "oil leak"
n[4][1] = "leaking oil"
n[5][1] = "bolt missing"
#print(n)

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts a 2 dimensional LIST n as parameter.
# The list has the format: 
#tractor part (a string)
#description of issue with part (a string) for each row

#Return the number of transmissions that have leaks
#Also return the number of engines that have leaks
#Return should have form num of transmissions with leaks, num of engines with leaks
#Sample return: 
#   4, 4 

def test(n):
# Write your code here

In [ ]:
#@title 
t,e = test(n)
print("returned tractor count:",t)
print("returned engine count:", e)

print("expected tractor count:", 2)
print("expected engine count:", 2)
if t==2 and e==2:
  print("CORRECT")
else:
  print("Try Again")

In [ ]:
#@title 
def test(n):
  countT = 0
  countE = 0
  for i in n:
    partName = i[0].lower()
    #print(partName)
    if('t' in partName):
      if("leak" in i[1].lower()):
        countT = countT+1
    if('e' in partName):
      if("leak" in i[1].lower()):
        countE = countE+1  
  return countT,countE